.Services-Cards {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.BoardsList {
  padding: 10px;
}

.View-Board-Button {
  margin: auto;
  height: 100%;
  width: 40%;
  font-size: 10px;
}

.Board-Card {
  display: flex;
  flex-direction: column;
}
.board-image {
  border: black solid;
  width: 2rem;
  height: 2rem;
  float: left;
}
.board-info {
  float: right;
  display: flex;
  justify-content: end;
  width: 80%;
  height: 2rem;
  justify-content: space-between;
}
.Create-Board-Button {
  display: flex;
  justify-content: flex-end;
}
.card-body {
  padding: 10;
  margin: 5%;
}
