
.boardPosts {
  display: flex;
  flex-direction: row;
  width: 80%;

  justify-content: space-between;

}
.Board-Posts-Div{
  background-image: url("../images/flowers.jpg") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 60rem;
  
}

.Board-Image {
  /* border: 5px black solid; */
  height: 20em;
  width:20em;
  /* margin: auto;
  margin-right: 0; */


}
.Board-Image img {
  max-width: 100%;
  max-height: 100%;
  object-fit:fill;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.Board-Div {
  border: 10px black solid;
  height: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  
}
.Board-Info {
  padding-top: 0;
  height: 100%;
  width: 75%;
  margin-left: 0;
  /* background-color: aliceblue; */
  text-align: left;
  
}
.Board-Button{
  width: 100%;
  height: 100%;
  margin: auto;
  
}
.Title {
  margin-top: 0;
  display: block;
  width: 100%;
  justify-content: flex-start;

}
.board-name {
  margin-left: 20px;
}
.board-bob-dod {
  margin-left: 20px;
}
.Board-Paragraph {
  margin-left: 20px;
  margin-top: 40px;
}


@media screen and (max-width: 768px ) {
  .boardPosts {
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 0;
  }    
  .Board-Image {
    height: auto;
    width: 90%;
    object-fit:scale-down;
    margin-bottom: 20px;
  }

  .Board-Info {
    width: 90%;
  }
  .board-name {
    margin-left: 0;
  }
  .board-bob-dod {
    margin-left: 0;
  }
  .Board-Paragraph {
    margin-left: 0;
    margin-top: 10px;
  }

}
