.BoardsList{
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: solid 3px black; */
}

.card-body{
  background-color: #D8DAD3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.board-info{
  width: 50%;
}
.board-image {
  width: 25%;
}

.img {
  max-height: 100%;
  max-width: 150px;
  min-height: 100%;
  min-width: 150px;
  object-fit: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.view-board{
  color: black;  
}
.view-board:hover{
  color: black;
}
.view-board{
  text-decoration: none;
  color: #479f76;
}



.created-by{
  margin: 0;
  width: 25%;
}
.theCard {
  margin-top: 20px;
  /* border: solid 3px black; */

}

.pagination{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .BoardsList {
    width: 95%;
  }
  .img {
    display: none;
  }
 
}

























/* .BoardsList {

  flex-direction: column;
  font-weight: bold;
  border: solid 1px black;
  
} */
/* .Board-Card{
background-color: #565a58;
color: white;
margin:1em;
width: 100%;
} */

/* .card{
  background-color: grey;
  width: 100%;
  margin: 10px;
}
.Board-Card a {
color: white;
text-decoration: none;
} */

/* .board-info {
  width: 100%;

} */



/* @media screen and (max-width: 500px) {
  
  .board-info{
    display: block;
    margin: auto;
    height: auto;
  }


} */
/* @media screen and (min-width: 768px) {
  
  .board-info{
    display: flex;
    margin: auto;
    height: auto;
  }


} */
@media screen and (max-width: 1200px) {
 
}


/* 
@media screen and (max-width: 768px) {
  .Board-List-Div {
      width: 80%;
      margin: auto;
  }
  .Board-Div{
      width: 80%;
      margin: auto;

  }
  .Board-Info{
      height: 100%;
      flex-direction: row;
  }
  .Board-Image{
      height: auto;
  }
 
}
@media screen and (max-width: 1024px) {
  .Board-List-Div {
      width: 80%;
      margin: auto;
  }
 
}

@media screen and (max-width: 1200px) {
  .Board-List-Div {
      width: 80%;
      margin: auto;
     display: none;
  }
 
} */
