.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #7a7a7a;
    height: 100px;
}
.login-signup-buttons{
    display: flex;

}