.headImg {
  height: 25em;
  width: 100%;
  opacity: 60%;
  padding : 1em
}

.headerImg-quote {
  position: relative;
  text-align: center;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.board-card {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  width: 40%;
  flex-direction: row;
  height: 150px;
  margin: 1em;
  color: #B38AAE;
  
}
.landingPage{
  height: 100em;
  
}
.boardsDiv{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}
.viewButton{
  background-color: #2F4858;
  color: white;
  font-weight: bolder;
}

.cardImg{
  max-height: 100%;
  max-width: 200px;
}

@media screen and (max-width: 768px) {
  

  .board-card{
    width: 80%;
    flex-direction: column;


  }
  .cardImg{
    display: none;
  }

  .headerImg-quote img{
    height: 25%;
  }
  .headerImg-quote .quote{
    font-size: small;
  }


}
/* 
.cardName, .birth-death-div{

} */