.headImg {
  height: 40em;
  max-width: 100%;
  min-width: 100%;
  opacity: 60%;
  
}

.headerImg-quote {
  position: relative;
  text-align: center;
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 20px #a1a1a1;

}


.board-card {
  display: flex;
  justify-content: space-between;
  border: solid 1px black;
  width: 40%;
  flex-direction: row;
  height: 150px;
  margin: 1em;
  color: black;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #D8DAD3;

  
}
.landingPage{
  height: 100em;
  
}
.boardsDiv{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
}
.viewButton{
  background-color: #2F4858;
  color: white;
  font-weight: bolder;
  border: none;
}

.cardImg{
  max-height: 100%;
  max-width: 150px;
  min-height: 100%;
  min-width: 150px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  

  .board-card{
    width: 80%;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  }
  .cardImg{
    display: none;
  }

  .headerImg-quote img{
    height: 25%;
  }
  .headerImg-quote .quote{
    display: none;
  }


}
/* @media screen and (min-width: 768px) , (max-width: 1025px) {
  

  .board-card{
    width: 80%;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  }
  .cardImg{
    display: none;
  }

  .headerImg-quote img{
    height: 25%;
  }
  .headerImg-quote .quote{
    display: none;
  }


} */
