.user-data {
  margin: 20px;
  padding: 10px;
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
}
.user-posts-info {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: auto;
}

.user-boards-info {
  border: solid 1px black;
  margin: 20px;
  padding: 20px;
  width: auto;
}

.delete-button {
  background-color: red;
  color: white;
  padding: 20px, 20px;
}

@media screen and (max-width: 830px) {
  .user-posts-info {
    width: 100%;
  }
}
