.user-data {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.user-posts-info{
    border: solid 1px black;
    margin: 10px;
    width: 25%;
}

@media screen and (max-width: 830px) {
    .user-posts-info{
        width: 100%;
    }
}